/* For heading */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

.nine h1 {
    text-align:center; 
    font-size:50px; 
    text-transform:uppercase; 
    color:#222; 
    letter-spacing:1px;
    font-family:"Playfair Display", serif; 
    font-weight:400;
    margin-top: 30px;
  }
  .nine h1 span {
    margin-top: 30px;
      font-size:15px; 
      color:#444; 
      word-spacing:1px; 
      font-weight:normal; 
      letter-spacing:2px;
      text-transform: uppercase; 
      font-family:"Raleway", sans-serif; 
      font-weight:500;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .nine h1 span:after,.nine h1 span:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      height: 5px;
    background-color:#f8f8f8;
  }


  .me {
    width: 30%; /* Set the width of the image to 50% of the container */
    float: left; /* Float the image to the left side */
    margin-left: 10%;
    margin-top: 40px;
  }